<h1>List users: </h1>

<table>
<%= for user <- @users do %>
<td><%= user.id %></td>
<td><%= user.name %></td>
<td><%= user.username %></td>

</table>


lib/hello_web/templates/hello/world.html.eex:13:1: unexpected end of string, expected a closing '<% end %>'