<section class="phx-hero">
  <h1><%= gettext "Student Tracker" %></h1>
  <p>A Phoenix application to keep track of a student's details:
<p> 1. Full names. </p>
<p> 2. Admission number.</p>
<p> 3. Date of joining.</p>
</p>
</section>